body {
    background-color: black;
}

.overall {
    display: grid;
    justify-content: center;
    align-items: center;
}

.outer {
    display: grid;
    grid-template-areas: "a a a a a" "a a a a a" "a a a a a""a a a a a" "a a a a a";
    grid-template-columns: 60px 60px 60px 60px 60px;
    grid-template-rows: 60px 60px 60px 60px 60px;
    gap: 6px;
    padding: 10px;
    justify-content: center;
    width: fit-content;
    background-color: rgb(125 125 125);
    border-radius: 10px;
}

.middle {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
}

.noin {
    outline: 6px solid rgb(49 48 48)
}

.sample {
    display: grid;
    grid-template-areas: "a a a" "a a a" "a a a";
    gap: 4px;
    justify-content: center;
}

.inside {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    border-radius: 6px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 10px solid rgb(17, 190, 31);
    width: 40%;
    text-align: center;
}

.timer {
    color: rgb(0 0 0);
    background-color: #989595;
    text-align: center;
    width: 50%;
    height: 50px;
    font-size: larger;
    border: 7px double #232222;
    border-radius: 56px
}

#reset {
    font-size: larger;
    background-color: rgb(70 74 43);
    color: white;
}

.sideways {
    text-align: right;
    width: 79%;
}

.congrats {
    font-size: x-large;
    color: green;
}

#points {
    font-size: large;
    color: blue;
}

#mdis {
    font-size: large;
    color: blue;
}

#sdis {
    font-size: large;
    color: blue;
}